@model ProjectDipMVC.Models.SectionsProject

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SectionsProject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameSections)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameSections)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberSections)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberSections)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameFileSections)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameFileSections)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileSections)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileSections)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjDscrpt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjDscrpt.ProjDscrptId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SectionsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
