@model ProjectDipMVC.Models.ProjectDescript

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectDescript</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Login)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjDscrptId">Редактировать</a> |
    @Html.ActionLink("Назад к списку", "Index", "ProjectDescripts", new {ProjectId = Model.Project.ProjectId})
</div>
